html, body {
  margin: 0;
  padding: 0;
  font-family: "StackHeadline";
  
}

:root{
    /* --book-width: 88vh; */
    --book-width: 1100px;
    --aspect-ratio: 1.234;
    --blue: #50BAFF;
}

body{
    background-color: black;
    
}

main{
    /* padding: 0px 20px; */
}

canvas{
      display: block;
    position: relative;
}



header{
    padding: 6px 10vw;
    
    
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute; */

}

header > div{
    width: var(--book-width);
    display: flex;
    margin-inline: auto;
    align-items: center;
    justify-content: space-between;
}

h1{
    color: #F5F5F5;
    font-size: 1.8rem;
    /* position: absolute; */
    /* width: 50px; */
    font-family: "PPNeuebit";
}

nav{
    display: flex;
    gap: 30px;
    
}

a{
    color: aliceblue;
    text-decoration: none;
}

.active{
    color: #DDD827;
}

.tooltip{
    position: absolute;
    color: white;
    left: 4vw;
    top: 0.8vh;
    display: flex;
    align-items: center;
    gap: 6px;
    color: var(--blue);
}

.tooltip .ph-info{
    font-size: 1.5rem;
    color: var(--blue);
}

@font-face {
  font-family: "PPNeuebit";
  src: url("assets/PPNeueBit-Bold.ttf") format("truetype");
  font-weight: 400; /* variable font range */
  font-style: normal;
}

@font-face {
  font-family: "StackHeadline";
  src: url("assets/StackSansHeadline-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900; /* variable font range */
  font-style: normal;
}

@font-face {
  font-family: "StackText";
  src: url("assets/StackSansText-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900; /* variable font range */
  font-style: normal;
}

@font-face {
  font-family: "Sedgwick";
  src: url("assets/SedgwickAve-Regular.ttf") format("truetype");
  /* font-weight: 400;  */
  font-style: normal;
}

.main-panel{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin-inline: auto;
}

.canvas{
    /* width: 1234px;
    height: 1000px; */
    /* width: calc(var(--book-width) * var(--aspect-ratio)); */
    /* height: var(--book-width); */
    width: var(--book-width);
    aspect-ratio: var(--aspect-ratio);
    /* background-image: url("assets/2-3.png"); */
    /* background-size: cover; */
    
    background-color: white;
    
}

.spread-bg{
    position: absolute;
    width: var(--book-width);
    left: 310px;
    z-index: 50;
}

.sp4{
    z-index: 100;
}

.sp5{
    z-index: 100;
}

.sp5-bg{
    z-index: 0;
}

.cover-img{
    left: 314px;
}

.sp1-transparent{
    position: absolute;
    z-index: 100;
    
}

.lyrics, .discourse{
    position: absolute;
}

.lyrics{
    font-family: "Sedgwick";
    top: 100px;
    left: 400px;
    z-index: 100;
}

.discourse{
    bottom: 70px;
    font-size: 1.4rem;
    font-weight: 600;
    width: 28ch;
    right: 400px;
    z-index: 100;
}

.handle{

}

.divider-line{
    height: 100vh;
    width: 1px;
    position: absolute;
    left: 50vw;
    background-color: black;
    /* opacity: 0.1; */
    z-index: 100;
}

.ph{
    color: rgb(195, 195, 195);
    font-size: 2rem;
}