html,
body {
  margin: 0;
  padding: 0;
  font-family: "StackHeadline";
}

:root {
  /* --book-width: 88vh; */
  --book-width: 1080px;
  --aspect-ratio: 1.234;
  --blue: #50baff;
}

body {
  background-color: black;
}

main {
  /* padding: 0px 20px; */
}

canvas {
  display: block;
  position: relative;
}

header {
  padding: 6px 0px;

  display: flex;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
}

header > div {
  width: 88vw;
  max-width: var(--book-width);
  display: flex;
  margin-inline: auto;
  align-items: center;
  justify-content: space-between;
}

h1 {
  color: #f5f5f5;
  font-size: 1.8rem;
  /* position: absolute; */
  /* width: 50px; */
  font-family: "PPNeuebit";
}

nav {
  display: flex;
  gap: 1.9rem;
}

a {
  color: aliceblue;
  text-decoration: none;
}

.active {
  color: #ddd827;
}

.tooltip {
  position: absolute;
  color: white;
  right: clamp(40px, 10vw, 140px);
  top: 2vh;
  display: flex;
  align-items: start;
  gap: 1rem;
  color: var(--blue);
  z-index: 140;
  background-color: #000000;
  border: 1px solid #50baff;
  padding: 1.5rem;
  width: 240px;
}

.sp4-main-panel .tooltip{
    top: 24vh;
}

.tooltip p {
  margin: 0;
}

.tooltip .ph {
  font-size: 1.5rem;
  color: var(--blue);
}

@font-face {
  font-family: "PPNeuebit";
  src: url("assets/PPNeueBit-Bold.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "StackHeadline";
  src: url("assets/StackSansHeadline-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "StackText";
  src: url("assets/StackSansText-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

/* locked weight */
@font-face {
  font-family: "StackText700";
  src: url("assets/StackSansText-VariableFont_wght.ttf") format("truetype");
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sedgwick";
  src: url("assets/SedgwickAve-Regular.ttf") format("truetype");
  /* font-weight: 400;  */
  font-style: normal;
}

#canvasWrapper0{
    position: relative;
}

.main-panel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3vw;
  margin-inline: auto;
}

.sp0 .left-handle{
    visibility: hidden;
}

img {
  -webkit-user-drag: none;
  user-select: none;
  pointer-events: auto;
}

.canvas {
  /* width: 1234px;
    height: 1000px; */
  /* width: calc(var(--book-width) * var(--aspect-ratio)); */
  /* height: var(--book-width); */
  width: 100%;
  max-width: var(--book-width);
  aspect-ratio: var(--aspect-ratio);
  /* background-image: url("assets/2-3.png"); */
  /* background-size: cover; */
  overflow: hidden;
  background-color: white;
}

.spread-bg {
  position: absolute;
  width: 88.75vw;
  max-width: var(--book-width);
  /* left: 310px; */
  z-index: 50;
  /* margin-left: 4px; */
  /* margin-top: 2px; */
}

.spread-fg {
  position: absolute;
  width: 88.75vw;
  max-width: var(--book-width);
  /* left: 310px; */
  z-index: 100;
  /* margin-left: 4px;
  margin-top: 2px; */
}

.sp4 {
  z-index: 100;
}

.sp5 {
  z-index: 100;
}

.sp5-bg {
  z-index: 0;
}

/* .sp11, .sp8-bg, .sp8-mg, .sp8-fg{
    margin-left: 4px;
    margin-top: 2px;
} */

.sp8-bg {
  z-index: 0;
  margin-top: 2px;
}

.sp8-mg {
  mix-blend-mode: darken;
  z-index: 75;
}

.sp8-fg {
  z-index: 100;
}

.sp15 {
  top: -4px;
}

.panel-15 .right-handle{
    visibility: hidden;
}

.panel-15 p {
  position: absolute;
  font-family: "PPNeuebit";
  color: #3a7157;
  z-index: 100;
  /* left: 355px; */
  left: 36%;
  font-size: 1.2rem;
  /* bottom: 235px; */
  bottom: 270px;
}

video {
  position: absolute;
  width: 20.2%;
  left: 15%;
}

/* .cover-img{
    left: 314px;
} */

.sp1-transparent {
  position: absolute;
  z-index: 100;
}

#canvasWrapper13 {
  background-color: black;
}

.lyrics,
.discourse {
  position: absolute;
}

.lyrics {
  font-family: "Sedgwick";
  top: 100px;
  left: 400px;
  z-index: 100;
}

.discourse {
  bottom: 70px;
  font-size: 1.4rem;
  font-weight: 600;
  width: 28ch;
  right: 400px;
  z-index: 100;
}

.handle {
}

.divider-line {
  height: 100vh;
  width: 1px;
  position: absolute;
  left: 50vw;
  background-color: black;
  /* opacity: 0.1; */
  z-index: 100;
}

.ph {
  color: rgb(195, 195, 195);
  font-size: 2rem;
}

#canvasWrapper7 {
  font-weight: 700;
}

.mobile-alert,
.static-thumbnail {
  display: none;
  position: static;
}

.handle .ph {
  color: aliceblue;
  font-weight: 700;
}

/* .handle:hover{
    scale: 1.2;
    transition-property: scale;
    transition-duration: 200ms;
} */

@media (max-width: 1050px) {
  :root {
    font-size: 14px;
  }

  .spread-bg,
  .spread-fg {
    width: 88.5vw;
  }

  nav {
    display: flex;
    gap: 1.5rem;
  }

  .tooltip:not(.mobile-alert) {
    position: absolute;
    right: 0;
    top: 86vh;
    border: none;
    padding: 0;
    width: 100%;
    justify-content: center;
  }

  .tooltip p{
    /* width: fit-content; */
  }
}

@media (max-width: 970px) {
  :root {
    font-size: 14px;
  }

  .spread-bg,
  .spread-fg {
    position: absolute;
    width: 88.5vw;
    max-width: var(--book-width);
    /* left: 310px; */
    z-index: 50;
    /* margin-left: 4px; */
    /* margin-top: 2px; */
  }
}

@media (max-width: 900px) {
  .spread-bg,
  .spread-fg {
    width: 87.75vw;
  }
}

@media (max-width: 750px) {
  header > div {
    flex-direction: column;
    gap: 0;
  }

  .ph-laptop {
    margin-right: 6px;
  }

  .mobile-alert {
    display: block;
    /* position: absolute; */
    /* color: #f5f5f5; */
    margin-top: 18px;
    margin-bottom: 28px;
    text-align: left;
    align-self: start;
    padding: 0;
    border: none;
  }

  .static-thumbnail {
    display: block;
    width: 100%;
  }

  h1 {
    font-size: 4.5rem;
    margin-top: 30vh;
    margin-bottom: 0;
  }

  nav,
  main {
    display: none;
  }
}
